*, *::after, *::before {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#pt{padding-top: 15px;}
#mr{margin-right: 40px;}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
}


body {
     font-family: 'Gilroy', cursive; 
     font-size: 15px;
     line-height: 1.6;
     margin: 0;
     height: 100vh;
}

::-webkit-scrollbar {
    width: 0;
  }

.container {
    padding: 0 10px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;    
}

.content {
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.sub__header-position{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.hr{
    height: 1px;
    background-color: #f0f0f0;
    max-width: 100%;
    width: 100%;
}

.sub__header__link a{
    margin-right: 24px;
    color: rgb(123, 142, 151);
    font-family: Inter;
    font-size: 14px;
    text-transform: uppercase;    
}

.sub__header__link a:hover{
    color: #FF6700;
}

.sub__header__link .active{
    color: #FF6700;
}

.sub__header__number h3{
    color: rgb(1, 21, 34);
    font-family: Inter;
    font-size: 14px;    
}


.header-position{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;}

.header-position img{
    margin-right: 50px;
    cursor: pointer;
}

.logo{
    display: flex;
    align-items: center;
}

.header__link a{
    color: rgb(1, 21, 34);
    font-family: Inter;
    font-size: 16px;
    margin-right: 24px;    
}

.header__link a:hover{
    color: #FF6700;
}


.search-bar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #e4edf2;
    border-radius: 6.67px;
    background: rgb(246, 248, 250);
    padding: 8px;
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px 20px;
    background: #f6f8fa;
    font-family: Inter;
  }

  .header__search{
    display: flex;
    align-items: center;
  }

  .header__search img{
    margin-right: 20px;
  }
  
  .search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .search-icon {
    width: 24px;
    height: 24px;
  }

  .header__order a{
    border-radius: 6.67px;
    background: #FF6700;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    padding: 17.5px 20px;
    margin-left: 20px;
  }

  main{
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 819px;
    }

    
    .div1 { 
        grid-area: 1 / 1 / 7 / 4; 
        display: flex; 
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }
    .div2 { grid-area: 1 / 4 / 2 / 5; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex;justify-content: space-between; align-items: center; cursor: pointer; height: 117px;}
    .div3 { grid-area: 2 / 4 / 3 / 5; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex;justify-content: space-between; align-items: center; cursor: pointer; height: 117px;}
    .div4 { grid-area: 3 / 4 / 4 / 5; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex;justify-content: space-between; align-items: center; cursor: pointer; height: 117px;}
    .div5 { grid-area: 4 / 4 / 5 / 5; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex;justify-content: space-between; align-items: center; cursor: pointer; height: 117px;}
    .div6 { grid-area: 5 / 4 / 6 / 5; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex;justify-content: space-between; align-items: center; cursor: pointer; height: 117px;}
    .div7 { grid-area: 6 / 4 / 7 / 5; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex;justify-content: space-between; align-items: center; cursor: pointer; height: 117px;}
    .div8 { grid-area: 7 / 4 / 8 / 5; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex;justify-content: space-between; align-items: center; cursor: pointer; height: 117px;}
    .div9 { grid-area: 7 / 3 / 8 / 4; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex;justify-content: space-between; align-items: center; cursor: pointer; height: 117px;}
    .div10 { grid-area: 7 / 2 / 8 / 3; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex;justify-content: space-between; align-items: center; cursor: pointer; height: 117px;}
    .div11 { grid-area: 7 / 1 / 8 / 2; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex;justify-content: space-between; align-items: center; cursor: pointer; height: 117px;}

    .div2:hover p,.div3:hover p,.div4:hover p,.div5:hover p,.div6:hover p,
    .div7:hover p,.div8:hover p,.div9:hover p,.div10:hover p,.div11:hover p
    {
        transition: color 0.3s ease;
        color: #ffff;
    }

    .parent__content__block{
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px 0 0 0;
    
    }    
    .parent__content__block__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column   
    }

    .parent__content__block img{
        width: 190px;
        height: 178px;   
    }

    .parent__content__block h3{
        color: rgb(3, 61, 101);
        font-family: RoadRadio;
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        margin-top: 10px;   
        line-height: 31px;
    }

    .span__text{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        margin-left: 20px;
        }

    .span__number{
        color: rgb(3, 61, 101);
        font-family: RoadRadio;
        font-size: 104.01px;
        font-weight: 900;
        line-height: 62.91px;
        transition: color 0.3s ease;  
        margin-right: 24px;  
    }

    .parent__content__text:hover p {
        color: #ffffff;
    }

    @media (max-width: 1400px) {

        
        .sub__header__link a {
            font-size: 12px;
        }

        .sub__header__number h3 {
            font-size: 12px;
        }

        .header__link a{
            font-size: 14px;
        }

        .search-input{
            padding: 0;
        }

        .search-icon {
            width: 18px;
            height: 18px;
        }

        .header__order a {
            font-size: 14px;
            padding: 12.5px 15px;
      }

      .logo img{
        width: 68px;
        height: 63px;
      }
    }

    @media (max-width: 1300px) {

        .sub__header__link a {
            font-size: 10px;
        }

        .sub__header__number h3 {
            font-size: 10px;
        }

        .header__link a{
            font-size: 12px;
        }

        .search-input{
            padding: 0;
        }

        .search-icon {
            width: 14px;
            height: 14px;
        }

        .header__order a {
            font-size: 12px;
            padding: 12.5px 15px;
      }

      .logo img{
        width: 63px;
        height: 57px;
      }
    }

    @media (max-width: 1200px) {

        .sub__header__link a {
            font-size: 8px;
        }

        .sub__header__number h3 {
            font-size: 8px;
        }

        .header__link a{
            font-size: 10px;
        }

        .search-input{
            padding: 0;
        }

        .search-icon {
            width: 12px;
            height: 12px;
        }

        .header__order a {
            font-size: 10px;
            padding: 8.5px 10px;
      }

      .logo img{
        width: 58px;
        height: 52px;
      }
    }


    /* KeyFrames */
    @keyframes slideIn {
        from {
            transform: translateX(100vw); /* Начинаем за пределами правой границы экрана */
        }
        to {
            transform: translateX(0);
        }
    }
    
    header, .parent div {
        transform: translateX(100vw); /* Начальное положение за пределами экрана */
        opacity: 0; /* Элемент невидим в начале */
    }
    
    header.animate, .parent div.animate {
        animation: slideIn 0.5s ease-out forwards;
        opacity: 1; /* Элемент становится видимым */
    }
    
    .parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
        height: 819px;
        overflow: hidden; /* Запрещаем горизонтальную прокрутку */
        white-space: nowrap; /* Запрещаем перенос строк */
    }
    
    /* Ваши существующие стили */
    main {
        background-image: url(img/background.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 50px;
    }
    
    .div1 { 
        grid-area: 1 / 1 / 7 / 4; 
        display: flex; 
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }
    .div2 { grid-area: 1 / 4 / 2 / 5; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex; justify-content: space-between; align-items: center; cursor: pointer; height: 117px; }
    .div3 { grid-area: 2 / 4 / 3 / 5; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex; justify-content: space-between; align-items: center; cursor: pointer; height: 117px; }
    .div4 { grid-area: 3 / 4 / 4 / 5; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex; justify-content: space-between; align-items: center; cursor: pointer; height: 117px; }
    .div5 { grid-area: 4 / 4 / 5 / 5; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex; justify-content: space-between; align-items: center; cursor: pointer; height: 117px; }
    .div6 { grid-area: 5 / 4 / 6 / 5; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex; justify-content: space-between; align-items: center; cursor: pointer; height: 117px; }
    .div7 { grid-area: 6 / 4 / 7 / 5; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex; justify-content: space-between; align-items: center; cursor: pointer; height: 117px; }
    .div8 { grid-area: 7 / 4 / 8 / 5; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex; justify-content: space-between; align-items: center; cursor: pointer; height: 117px; }
    .div9 { grid-area: 7 / 3 / 8 / 4; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex; justify-content: space-between; align-items: center; cursor: pointer; height: 117px; }
    .div10 { grid-area: 7 / 2 / 8 / 3; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex; justify-content: space-between; align-items: center; cursor: pointer; height: 117px; }
    .div11 { grid-area: 7 / 1 / 8 / 2; background-color: #FF6700; border: 0.8px solid rgb(255, 255, 255); display: flex; justify-content: space-between; align-items: center; cursor: pointer; height: 117px; }
    
    .div2:hover p, .div3:hover p, .div4:hover p, .div5:hover p, .div6:hover p, .div7:hover p, .div8:hover p, .div9:hover p, .div10:hover p, .div11:hover p {
        transition: color 0.3s ease;
        color: #ffff;
    }
    
    .parent__content__block {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px 0 0 0;
    }    
    
    .parent__content__block__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .parent__content__block img {
        width: 190px;
        height: 178px;
    }
    
    .parent__content__block h3 {
        color: rgb(3, 61, 101);
        font-family: RoadRadio;
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        margin-top: 10px;
        line-height: 31px;
    }
    
    .span__text {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        margin-left: 20px;
    }
    
    .span__number {
        color: rgb(3, 61, 101);
        font-family: RoadRadio;
        font-size: 104.01px;
        font-weight: 900;
        line-height: 62.91px;
        transition: color 0.3s ease;  
        margin-right: 24px;  
    }
    /* KeyFrames */