*, *::after, *::before {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#mt{margin-top: 31px;}
#pt{padding-top: 15px;}
#mr{margin-right: 40px;}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 5px;
}

.flex {
    display: flex;
    justify-content: space-between;
}


body {
     font-family: 'Gilroy', cursive; 
     font-size: 15px;
     line-height: 1.6;
     margin: 0;
     height: 100vh;
}

::-webkit-scrollbar {
    width: 0;
  }

.container {
    padding: 0 10px;
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;    
}

.content {
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.sub__header-position{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.hr{
    height: 1px;
    background-color: #f0f0f0;
    max-width: 100%;
    width: 100%;
}

.sub__header__link a{
    margin-right: 24px;
    color: rgb(123, 142, 151);
    font-family: Inter;
    font-size: 14px;
    text-transform: uppercase;    
}

.sub__header__link a:hover{
    color: #FF6700;
}

.sub__header__link .active{
    color: #FF6700;
}

.sub__header__number h3{
    color: rgb(1, 21, 34);
    font-family: Inter;
    font-size: 14px;    
}


.header-position{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;}

.header-position img{
    margin-right: 50px;
    cursor: pointer;
}

.logo{
    display: flex;
    align-items: center;
}

.header__link a{
    color: rgb(1, 21, 34);
    font-family: Inter;
    font-size: 16px;
    margin-right: 24px;    
}

.header__link a:hover{
    color: #FF6700;
}


.search-bar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #e4edf2;
    border-radius: 6.67px;
    background: rgb(246, 248, 250);
    padding: 8px;
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px 20px;
    background: #f6f8fa;
    font-family: Inter;
  }

  .header__search{
    display: flex;
    align-items: center;
  }

  .header__search img{
    margin-right: 20px;
  }
  
  .search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .search-icon {
    width: 24px;
    height: 24px;
  }

  .header__order a{
    border-radius: 6.67px;
    background: #FF6700;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    padding: 17.5px 20px;
    margin-left: 20px;
  }

  main{
    background: #FAFAFA;
    padding-bottom: 120px;
  }
  

  .block__a{
    display: flex;
    align-items: center;
    padding-top: 32px;
  }

  .block__a a{
    color: rgb(123, 142, 151);
    font-family: Inter;
    font-size: 14px; 
    margin: 0 10px;  
  }

  .block__title{
    color: rgb(0, 17, 28);
    font-family: RoadRadio;
    font-size: 40px;
    margin-top: 48px;    
  }
  .block__filters{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 48px 0;
  }

  .block__filters__button{
    margin-right: 24px;
  }

  .block__filters__a a{
    color: rgb(32, 49, 69);
    font-family: Inter;
    font-size: 16px;
    padding: 12px 24px 12px 24px;
    margin-right: 12px;
    border-radius: 8px;
    background: rgba(206, 211, 214, 0.2);    
  }

  .block__filters__button a{
    display: flex;
    align-items: center;
    color: #7B8E97;
    font-family: Inter;
    font-size: 16px;    
  }

  .block__filters__button a img{
    margin-left: 12px;
  }

  .block__cards{
    display: flex;
    justify-content: space-between;
    width: 307px;
  }

  .block__card{
    margin-right: 20px;
  }

  .block__card img{
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
  }

  .block__card__a{
    display: flex;
    color: #203145;
    font-family: Inter;
    font-size: 12px;    
  }

  .block__card__a p{
    color: #203145;
    font-family: Inter;
    font-size: 12px;    
    border-radius: 36.811px;
    padding: 6px 9px;
    margin: 10px 12px 6px 0;
    background: #F1F2F3;    
  }

  .block__card__title{
    color: var(--2, #00111C);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;  
  }

  .block__card__subtitle{
    color: var(--Gray, #7B8E97);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;    
  }

  footer{
    background: #032048;
  }

  .footer-position{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
  }

  .footer__contacts__number{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 17px;
  }

  .footer__contacts .logo{
    margin-bottom: 27px;
  }

  .footer__contacts__mail{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    margin-bottom: 24px;
  }

  .footer__contacts__icons img{
    margin-right: 13px;
  }

  .footer__contacts__icons{
    margin-bottom: 48px;
  }

  .footer__contacts__text{
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 12px;
  }

  .footer__complex__title{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;    
    margin-bottom: 21px;
  }

  .footer__complex__subtitle{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 14px;    

  }

  .footer__complex__text{
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 14px; 
    margin-bottom: 20px;  
  }

  .footer__representativeOffices{
    display: flex;
    flex-direction: column;
  }

  .footer__representativeOffices2{
    margin-top: 50px;
  }
